<!DOCTYPE html>
<html>
  <head>
    <title> RESULT </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> The results are: </h1>
    <h1><%= body %></h1>

    

  </body>
</html>

<style>
  body {
    background-color: pink;
  }
</style>


