<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <form method="GET" action='/token'>
      Contract: <input type='text' name='contract'><br>
      Address: <input type='text' name='address' ><br>
      <button type='submit' value='submit'>Submit</button>
    </form>

    <form method="GET" action='/sample'>
        <button type='submit' value='submit'>See Backend Return</button>
      </form>
   

  </body>
</html>
